@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,300');
*{
	position:relative;
	margin:0;
	padding:0;
}
a{
	text-decoration: none;
	color:inherit;
	display:block;
}
@font-face{
	font-family:MuseoSansCyrl;
	src:url(fonts/MuseoSansCyrl.otf);
}
@font-face{
	font-family:RobotoRegular;
	src:url(fonts/Roboto-Regular.ttf);
}
::-webkit-scrollbar{
	display:none;
}
body,html
	height 100%
	width 100%
body
	font-family:'MuseoSansCyrl',Arial;
	background:url('') no-repeat;
	background-attachment:fixed;
	-webkit-font-smoothing: antialiased;
	.hideText
		display block
		position absolute
		opacity 0
/*
========================================================
======				comment: navigation 		========
========================================================
*/
#nav-panel{
	width:100%;
	height:10%;
	
	position:fixed;
	z-index:2;

	font-family:RobotoRegular,Arial;

	perspective:2000px;
	&:hover .mainNav-wrap{
		transform:rotateX(25deg);
	}
	.mainNav-wrap{
		background:rgb(92,139,231);
		box-shadow:0 0 2vh 0 black;
		transition: all .2s ease;
		transform-origin:0 0;
		width:100%;
		height:100%;
		
		#logo{
			width:25%;
			height:100%;

			position:absolute;
			top:0;
			left:4%;

			cursor:pointer;
			img{
				width:auto;
				height:95%;
				float:left;

				top:2.5%;
				margin-right:2%;
			}
			h1{
				margin:3% 0 0 0;

				font-size:2.2vmax;
				font-weight:normal;

				color:white;

				text-transform:uppercase;
			}
			#home{
				margin:-1.5% 0 0 47%;

				font-size:.95vmax;
				font-weight:bold;

				color:rgba(230,230,230,1);
			}
		}
		nav{
			width:75%;
			height:60%;
			display:flex;
			justify-content:space-around;

			top:25%;
			left:25%;
			> div{
				box-sizing:border-box;
				width:15%;
				height:100%;
				font-size:1.1vmax;
				text-align: center;
				padding-top:.5%;
				color:rgb(250,250,250);
				border:.2vh solid transparent;
				border-radius:.9vh;

				cursor:pointer;
				transition:all .2s ease-in;
				text-transform:uppercase;
				&:hover{
					border:.2vh solid white;
					background:rgb(92,139,231);
					height:400%;
				}
				&:nth-child(2){
					width:13%;
					font-size:1vmax;
					height:100% !important;
				}
				&:nth-child(3){
					width:13%;
					margin-left:-2%;
					font-size:1vmax;
				}
				&:nth-child(4){
					width:18%;
					font-size:1vmax;
				}
				&:hover .name{
					transform:scale(.7, .5);
				}
				&:hover .ctg{
					transform:scale(1) translateY(1vmax);
					>*{
						padding:6% 0;
					}
				}
				.name{
					margin-top:4%;
					transition: all .4s linear;
					font-size:inherit;
				}
				#news-name{
					transform:none !important;
				}
				.ctg{
					transform:scale(1, .01);
					transform-origin:0 0;
					text-align:center;
					font-size:1vmax;

					transition: all .4s ease;
					>*{
						&:hover{
							background:white;
							color:rgb(50,50,50);
							transition: all .3s linear;
						}
					}
				}
			}
			.buttonActive{
			border:.2vh solid white;
			}
		}
	}
}

#wrap{
width:100%;
height:200%;
position static

perspective:500px;
}
#wrap .page{
transition:all .3s ease-in;
}
/*
========================================================
======                HOME page                ========
========================================================
*/
.home{
width:100%;
height:43%;

position:absolute;
}
.homeHidden{
opacity:0;

transform:translate3d(0,0,-1000px);
}
.home header{
width:100%;
height:84%;
overflow:hidden;
}
.home header .dynamic-img{
width:100%;

position:absolute;
top:0;
left:0;
}
.home #header-info{
width:100%;
height:100%;

box-sizing:border-box;
padding:0 20%;

text-align:center;

background:rgba(10,10,10,.3);
}

.home #header-info h1{
top:60%;
margin:0 auto;

font-family:Open Sans;
font-size:3.2vmax;

color:rgb(230,235,235);
border-radius:.5vmin;
background-color:rgba(10, 40, 99, .502);

text-transform:uppercase;
}
.home #header-info .button{
width:15.5%;
display:none;

top:52%;
margin:0 auto;
padding:.8% 0;

font-size:1.8vh;

color:white;
border:.3vh solid white;
border-radius:.5vh;

cursor:pointer;
transition:all .2s ease-in ;
text-transform:uppercase;
}
.home #header-info .button:hover{
color:black;
background:white;
}
#main{
width:85%;
height:100%;

position:relative;
z-index:10;
margin:3.5% auto 0 auto;

font-family:Open Sans;
text-align:center;

color:rgb(45,45,45);
}
#main > h1:nth-child(1){
font-size:2.5vmax;
font-weight:bold;
}
#main > h3:nth-child(2){
margin:1vmax 0 0 0;

font-size:1.3vmax;
}
/*==========================ourWay===============================*/
#main #ourWay{
width:100%;
height:55%;

margin:5% 0 0 0;

text-align:center;
}
#ourWay > h1:nth-child(1){
font-size:1.8vmax;
font-weight:bold;

color:rgb(0,107,255);
}
#ourWay > div{
width:15%;
height:50%;
float:left;
overflow:hidden;

position:absolute;
top:20%;
margin:1% 0 3% 0;

text-align:center;

border-radius:100%;
background:rgb(78,137,255);
box-shadow:0 0 3vmin -.5vmin black;

cursor:pointer;
transition:all .3s ease-in;
}
#ourWay div:hover{
width:25%;
height:90%;

top:0;

box-shadow:none;
}
#ourWay div:nth-child(2){
left:0;
}
#ourWay div:nth-child(2):hover{
left:-5%;
}
#ourWay div:nth-child(3){
left:21.5%;
}
#ourWay div:nth-child(3):hover{
left:16.5%;
}
#ourWay div:nth-child(4){
left:43%;
}
#ourWay div:nth-child(4):hover{
left:38%;
}
#ourWay div:nth-child(5){
left:64.5%;
}
#ourWay div:nth-child(5):hover{
left:59.5%;
}
#ourWay div:nth-child(6){
left:86%;
}
#ourWay div:nth-child(6):hover{
left:81%;
}
#ourWay img{
height:50%;

left:-1%;
margin:10% 0 2% 0;

transition:all .3s ease;
}
#ourWay > div:hover img{
height:24%;

margin:4% 0 0 0;
}
#ourWay div p{
font-size:1vmax;

color:white;
}
#ourWay div p:nth-child(2){
top:1.8%;

font-weight:bold;
}
#ourWay > div:hover p:nth-child(2){
top:0;
}
#ourWay div p:nth-child(3){
width:90%;

left:5%;

color:transparent;
text-shadow:0 0 10px rgba(0, 0, 0, .5);

transition:transform .7s ease-in, text-shadow .6s ease-out;
transform:translate(0,2.5vmax);
}
#ourWay > div:hover p:nth-child(3){
text-shadow:0 0 0 white;

transform:translate(0,.2vmax);
}
#ourWay .button{
height:20%;
display:inline-block;

position:absolute;
top:84%;
left:12%;
padding:1% 15%;

font-size:1.1vmax;
text-align:center;

opacity:0;
color:white;
border-top:.3vh solid white;
border-radius:.5vh;

transition:all .3s ease-in, opacity .05s ease-in;
}
#ourWay > div:hover .button{
opacity:1;

transition:all .3s ease-in, opacity .4s ease-in .4s;
}
#ourWay .button:hover{
color:rgb(40,30,30);
background:white;
}

/*lines*/
#ourWay .line-1,
#ourWay .line-2{
width:.15%;
height:45%;
display:block;

position:absolute;
z-index:-1;

border:.2vh solid rgb(0,87,235);
}
#ourWay .line-1{
top:25%;

transform:rotate(58deg);
}
#ourWay .line-2{
top:25%;

transform:rotate(-65deg);
}
#ourWay #line1{
left:18.1%;
}
#ourWay #line2{
left:61%;
}
#ourWay #line3{
left:39%;
}
#ourWay #line4{
left:82%;
}
/*
========================================================
======              bottom-content              ========
========================================================
*/

#bottom-content{
width:100%;
height:86%;

margin:0 auto 0 auto;
}
#inPattern-transition{
width:100%;
height:18%;

padding:5% 0;

font-size:1.8vmax;
line-height:150%;
text-align:center;

color:rgb(255,242,209);
background:rgb(26,41,79);
}
#inPattern-transition h2{
font-size:2vmax;

color:rgb(78,137,255);
}
/*==============expres-block=================*/

#abus-expres{
width:100%;
height:56%;

box-sizing:border-box;
padding:2% 27%;

font-family:'MuseoSansCyrl';
text-align:center;

background:rgb(242,246,249);
}
#expres-area{
width:100%;
height:75%;
}
#abus-expres .expres{
width:100%;
display:none;

position:absolute;
top:2%;
left:0;

transition:all .3s ease-in;
}
#abus-expres .expres-active{
transform:none;
}
.expres-forward{
opacity:0;

transform:translate(15vh,-3vh) rotate(5deg);
}
.expres-back{
opacity:0;

transform:translate(-10vh,0) rotate(.5deg);
}

#abus-expres h2{
margin:2% 0 1% 0;

font-size:2.3vmax;

color:rgb(58,58,58);
}
#abus-expres p{
font-size:1.4vmax;
line-height:150%;

color:rgb(70,70,70);
}
#abus-expres p.autor{
margin-top:.2vmax;

color:rgb(154,166,173);
}
.expres-left{
visibility:hidden;

opacity:0;

transform:translateX(-150px) rotate(20deg);
}
.expres-right{
visibility:hidden;

opacity:0;

transform:translateX(150px);
}
#abus-expres .arrow{
width:2.8%;
height:13.5%;

position:absolute;
top:78%;

border-radius:5vh;
background:url(img/arrow.png) no-repeat center center;
background-size:100%;

cursor:pointer;
transition:all .2s ease-in;
}
#abus-expres #prev-arrow{
left:46.7%;

transform:rotate(-180deg);
}
#abus-expres #next-arrow{
left:51.3%;

transform:rotate(-1deg);
}
#abus-expres .arrow:hover{
background:url(img/arrow-only.png) no-repeat center center rgb(0,107,255);
background-size:85%;
}
#teach{
width:100%;
height:225%;

z-index:2;
overflow hidden
}
#teach .dynamic-image{
width:100%;
height:25%;

background:rgba(60,125,255,.9);
box-shadow:inset 0 -6vmax 0 0 rgb(255,206,0);
}
#teach .teach-inner{
width:100%;
height:75%;

text-align:center;

background:rgb(242,246,249);
}
#teach .text-area{
width:100%;

box-sizing:border-box;
padding:2% 20%;
}
#teach h2{
font-size:2.3vmax;

color:rgb(58,58,58);
}
#teach h3{
margin:2% 0 0 0;

font-size:1.4vmax;
font-weight:normal;

color:rgb(129,144,159);
}
.block-area{
width:100%;
height:51%;

margin:0;
}
.block-area > div{
width:100%;
height:35.5%;
display:flex;

margin:.5% auto 1% auto;

transition:all .5s ease-in;

perspective:5200px;
justify-content:space-around;
}
.block-area .teach-circle{
width:14%;
height:100%;

top:0;
left:0;

border-radius:50vh;
background:rgb(78,136,254);
box-shadow:0 0 2vh 0vh black;

cursor:pointer;
transition:all .5s .2s cubic-bezier(.38,-0.14,.38,1.89);
transform-style:preserve-3d;
}
.block-area .teach-circleHover{
transition:all .3s ease-in;
width:18%;
height:129.5%;

top:-20%;
left:2%;
margin-left:-4%;
transform:rotateY(180deg) !important;
}
/*line styles===================*/
#line-block{
width:100%;
height:120%;

position:absolute;
z-index:-1;
top:50%;
left:0;
}
#line-block .line{
height:1%;

position:absolute;

background:rgba(150,150,150,.15);

transition:all .2s ease-in;
}
#line-block .lineHover{
background:rgba(30,30,30,.5);

transition:all .3s ease-in;
}
#line-block #line-1{
width:40%;

top:40%;
left:10%;

transform:rotate(-23deg);
}
#line-block #line-2{
width:20%;

top:40%;
left:35%;

transform:rotate(-45deg);
}
#line-block #line-3{
width:20%;

top:40%;
right:35%;

transform:rotate(45deg);
}
#line-block #line-4{
width:40%;

top:40%;
right:10%;

transform:rotate(23deg);
}

/*style block && text inside*/
.teach-circle .front-side{
width:90%;
height:90%;
overflow:hidden;

top:5%;
left:5%;
box-sizing:border-box;

border:.5vh solid rgba(245,245,245,.95);
border-radius:50vh;

transform:translate3d(0,0,.5vh);
transform-style:preserve-3d;
}
.block-area .name{
width:100%;

position:absolute;
bottom:3%;

font-family:Arial;
font-size:.9vmax;

color:rgba(30,30,30,.8);
background:rgba(255,255,255,.8);
}
.teach-circle img{
width:100%;
}
.block-area .teach-circle .backside{
width:100%;
height:100%;
display:flex;

position:absolute;
top:0;
left:0;
box-sizing:border-box;
padding:0 4%;

font-size:1vmax;

color:white;
border-radius:20vh;
background:rgb(35,52,83);

transform:translate3d(0,0,-1vh) rotateY(-180deg);
transform-style:preserve-3d;

align-items:center;
justify-content:center;
}
.block-area #title{
margin:5% auto 0 auto;

font-size:2.5vmax;
text-align:center;

color:rgba(30,30,30,.9);
}
/*============first-level============*/
.block-area .first-level .teach-circle{
margin:0 auto;

background:rgb(69,127,231);
}
.block-area .first-level .teach-circle .front-side{
border:.5vh solid rgba(230,230,230,.9);
}
/*=================third-level special styles=================*/
.block-area .third-level{
height:35%;
width:100%;
transition: all 1s linear;
left:0%;
box-sizing:border-box;
margin:2% auto 0 auto;
}
#third-level-body{
	width:145%;
	height:100%;
	display:flex;
	padding 0 2%
	absolute top left -15%
	
}
blockWidth = 9.7%;
.block-area .third-level .teach-circle{
width:blockWidth;

background:rgb(93,151,255);
}
.block-area .third-level .teach-circleHover{
width:blockWidth*1.2;
debug blockWidth+-@width
height:120%;

top:-2%;
margin-left:blockWidth+-@width;
left:-(@margin-left/2);

transform:rotateY(180deg) !important;
}
.block-area .third-level .teach-circle:nth-child(odd){
top:60%;
}
.block-area .third-level .name{
width:100%;

bottom:8%;
padding:1% 0;

font-size:.82vmax;
}
/*================lines block=========================*/
#teach .third-level .lines{
width:100%;
height:120%;

position:absolute;
z-index:-1;
top:14%;
left:10%;

background:none;
}
#teach .third-level .lines > div{
width:.2%;
height:110%;
float:left;

margin-right:blockWidth+-.5;

border:.2vh solid rgb(0,87,235);
background:rgb(244,198,5);
}
#teach .third-level .lines-1{
transform:rotate(58deg);
}
#teach .third-level .lines-2{
transform:rotate(-55deg);
}
/*
========================================================
======                comment: QUOTES        ========
========================================================
*/
#quote{
width:100%;
height:55%;

margin:0 auto;

text-align:center;

background:rgb(26,41,79);
}
.quote_img{
width:5%;

margin:4% 0 1% 0;
}
.quote_text{
width:50%;

margin:1% auto;

font-size:1.4vmax;

color:rgb(190,200,180);
}
.quote_autor{
font-size:1.7vmax;

color:rgb(244,198,5);
}

/*
========================================================
======              contact-area                ========
========================================================
*/
#contact{
width:100%;
height:100%;
}
#contact .text-area{
width:100%;
height:48%;

box-sizing:border-box;
padding:2% 0 0 0;

text-align:center;
}
#contact .text-area h1{
margin-bottom:.8%;

font-size:2.5vmax;

color:rgba(10,10,10,.9);
}
#contact .text-area h2{
font-size:1.2vmax;

color:rgba(30,30,30,.85);
}
#contact .method-communicate{
width:70%;
height:50%;
display:flex;

margin:2% auto 0 auto;

justify-content:space-around;
}
#contact .method-communicate > div{
width:33%;
height:100%;

background:rgba(240,240,240,.15);

transition:transform .5s .2s cubic-bezier(.38,-0.14,.38,1.89), opacity .2s .2s;
}
#contact .method-communicate > div:nth-child(2){
transition:transform .5s .4s cubic-bezier(.38,-0.14,.38,1.89), opacity .2s .4s;
}
#contact .method-communicate > div h2{
margin:5% 0 4% 0;

font-size:1.6vmax;
font-weight:bold;

color:rgb(30,30,30);
}
#contact .method-communicate > div p{
font-size:1.2vmax;

color:rgba(70,70,70,.9);
}
#contact #google-map{
width:100%;
height:51%;

box-shadow:0 -.6vh 1vh 0 rgba(100,100,200,.5);
}
#contact #google-map iframe{
width:100%;
height:100%;
}
/*
========================================================
======              footer              ========
========================================================
*/
footer{
width:100%;
height:30%;
}
footer:before{
width:13%;
height:2.5%;

position:absolute;
top:-2.5%;
left:0;

background:rgb(255,141,46);
box-shadow:12vmax 0 0 0 rgb(250,93,64),
25vmax 0 0 0 rgb(48,214,232),
38vmax 0 0 0 rgb(138,210,13),
50vmax 0 0 0 rgb(255,141,46),
60vmax 0 0 0 rgb(250,93,64),
70vmax 0 0 0 rgb(48,214,232),
80vmax 0 0 0 rgb(138,210,13),
90vmax 0 0 0 rgb(255,141,46);

content:'';
}
footer .contact-info{
width:100%;
height:60%;

box-sizing:border-box;
padding:1.5% 0;

background:rgb(41,61,113);
}
footer .contact-info .common{
width:20%;

margin:0 auto;

text-align:center;
}
footer .common h3{
margin-bottom:5%;

font-size:1.2vmax;
font-weight:normal;

color:white;
}
footer .contact-info .common img{
width:15%;

margin-right:2%;

border-radius:15vh;

cursor:pointer;
transition:all .2s ease-in;
}
footer .contact-info .common img:hover{
background-color:rgb(73,109,151);
}
footer .develop-info{
width:100%;
height:40%;

text-align:center;

background:rgb(26,41,79);
}
footer #copy{
top:40%;

font-size:1.3vmax;

color:rgba(220,230,240,.8);
}
footer #arrow{
width:3%;
height:58%;

position:absolute;
top:20%;
right:8%;

border-radius:20vh;
background:url(img/arrow.png);
background-size:cover;

cursor:pointer;
transition:all .3s ease-in;
transform:rotate(-90deg);
}
footer #arrow:hover{
background:url(img/arrow-only.png) rgb(30,30,30);
background-size:100%;
}
/*
========================================================
======              container of page           ========
========================================================
*/
ul#cont3d{
	width:100%;
	height:100%;
	display:none;

	position:fixed;
	top:0;
	left:0;

	opacity:1;

	transition:all .9s cubic-bezier(.785, .135, .15, .86);
	// transform:translate3d(0,-600vh,-2000vh);
	transform-style:preserve-3d;

	perspective:50000000px;
	li{
		width:100%;
		height:100%;
		overflow:auto;

		position:absolute;
		top:0;
		left:0;
		box-sizing:border-box;

		background:white !important;
		box-shadow:inset 0 0 3vh 1vh rgba(40,45,51,1);

		list-style:none;
		transition:all .3s ease;
		perspective:900px;
		> div{
			width:100%;
			height:100%;
			transition:all .4s ease-in;
			position:absolute;
			top:0;
			left:0;
			transform:scale(.1);
			opacity:0;
			&.ctgSideActive{
				transform:scale(1) !important;
				z-index:4 !important;
				opacity:1 !important;
			}
		}
		&.front{

		}
		&.left{
			left:-100%;

			transform:rotateY(-90deg);
			transform-origin:100% 50%;

		}
		&.right{
			left:100%;

			transform:rotateY(90deg);
			transform-origin:0 50%;
		}
		&.top{
			transform:rotateX(-90deg);
			transform-origin:50% 0;
		}
		&.bottom{
			transform:rotateX(90deg);
			transform-origin:50% 100%;
		}
		&.under{
			transform-origin:50% 50%;
		}
	}
	.nonShadow{
		box-shadow inset 0 0 1vh 0 rgba(40,45,51,1);
	}
}
.contHidden{
opacity:0 !important;

transform:translate3d(0,0,0) !important;
}

/*=====================================================*/

/*
========================================================
======              About Us Page               ========
========================================================
*/

/*======================================================*/
#about-main{
width:100%;
height:100%;
}
#about-main .text-description{
width:80%;
height:15%;

margin:0 auto;

text-align:center;
}
#about-main .text-description h1{
margin:5% 0 2% 0;

font-size:3max;
font-weight:bolder;

color:rgb(76,76,81);
}
#about-main .text-description p{
font-size:1.4vmax;
line-height:130%;

color:rgb(30,30,30);
}
#about-main .wrap-img{
width:100%;
height:23%;
display:flex;
overflow:hidden;

box-shadow:0 0 3vh 1vh rgba(190,192,192,.8);
}
#about-main .wrap-img:after{
width:100%;
height:100%;

position:absolute;
top:0;
left:0;

background:rgba(0,0,0,.1);

content:'';
}
#about-main .dynamic-img{
width:33%;
height:98%;
overflow:hidden;

box-sizing:border-box;
margin:auto;

border:.5vh solid white;
}
#about-main .dynamic-img img{
height:100%;

box-sizing:border-box;
}
/*
========================================================
======                about-category            ========
========================================================
*/
#about-main .wrap-about-category{
width:100%;
height:80%;

margin-top:5%;
}
/*======================navigation*/
#about-main nav{
width:70%;
height:5%;
display:flex;

margin:0 auto;

text-align:center;
}
#about-main nav > div{
width:19%;
height:80%;
display:flex;

margin:auto;
padding:.2% 1%;

font-size:1.2vmax;

color:rgb(26,41,79);
border-radius:1.5vh;
background:rgb(92,139,231);

cursor:pointer;
transition:all .2s ease-in;

justify-content:center;
align-items:center;
}
#about-main nav > div:hover{
color:white;
background:rgba(0,107,255,1);
box-shadow:0 0 .5vmax 0 rgba(0,107,255,1);
}

/*=================the block side =================*/
#about-main .about-category{
width:100%;
height:100%;

margin:3% 0 5% 0;
}
#about-main .about-category > div{
width:100%;
height:100%;
display:none;

position:absolute;
top:0;
left:0;
box-sizing:border-box;
padding:4% 0;

color:white;
background:rgba(31,40,51,1);
}
#about-main .about-category > div:nth-child(1){
display:block;
}
#about-main .about-category .title{
font-size:2vmax;
text-align:center;
}

/*
========================================================
======                comment: SELF-GOVERNMENT  ========
========================================================
*/
#about-main .about-category > .self-government{
height:130%;
}
.self-government #epigraph{
width:25%;

position:absolute;
top:5%;
right:3%;

font-size:1vmax;
}
.self-government #epigraph .autor{
text-align:right;
}
.self-government .table{
width:70%;
height:80%;

margin:7% auto;
}
.self-government .table .main-govern{
width:30%;

margin:2% auto;
padding:1% 4%;

font-size:1.3vmax;
text-align:center;

border-radius:3vmax;
background:rgb(92,139,231);
}
.self-government .table .name{
margin-top:1%;

font-size:1.1vmax;

color:rgb(252,204,2);
}
/*
========================================================
======                comment: RATING block     ========
========================================================
*/
#about-main .about-category > div.rating{
height:130%;
}
#about-main .rating .table{
width:70%;
height:80%;
display:flex;

margin:2.5% auto 2% auto;

background:white;

counter-reset:item;

flex-wrap:wrap;
perspective:3000px;
justify-content:space-around;
align-items:center;
}
.rating .table .best-pupil{
width:15%;
height:15%;

top:0;
left:0;

cursor:pointer;
transition:all .35s ease-in;
transform-style:preserve-3d;

perspective:900px;
}
.rating .table .best-pupilHover{
width:22%;
height:22%;

z-index:10;
top:4.5%;
left:3.5%;
margin-top:-8%;
margin-left:-7%;

transform:rotateY(180deg);
}
.rating .table .best-pupil:after{
width:11%;
min-width:20px;
height:11%;

position:absolute;
position:absolute;
right:-4%;
bottom:-4%;
padding:.5vmin;

text-align:center;

border-radius:10vh;
background:rgb(0,107,255);

content:counter(item) ' ';
counter-increment:item;
transform:translate3d(0,0,.1vh);
}

.rating .table .best-pupil .front-side{
width:100%;
height:100%;

position:absolute;
top:0;
left:0;
box-sizing:border-box;

border:.5vh solid rgba(31,40,51,.5);
background:rgb(31,40,51);
background-size:cover !important;

transform:translate3d(0,0,0);
transform-style:preserve-3d;
}
.rating .table .best-pupil:nth-child(5) .front-side{
background:url(img/about/rating/5.jpg);
}
.rating .table .best-pupil .backside{
width:100%;
height:100%;

position:absolute;
top:0;
left:0;

text-align:center;

background:rgb(0,107,255);

transform:translate3d(0,0,-.1vh) rotateY(180deg);
transform-style:preserve-3d;
}
.rating .table .best-pupil .name{
margin:4% 0 2% 0;

font-size:1.5vmax;
}
.rating .table .best-pupil .description{
font-size:2.3vh;
}
.ghost{
background:rgba(0,0,0,.1);
}
/*
========================================================
======				comment: Page News			========
========================================================
*/
#news-wrap{
	.page-title{
		width:100%;
		height:10%;
		background:rgba(black,.005);
		box-shadow:0 .04vmax 0 0 rgba(black,.5);
		h1{
			text-align:center;
			font-size:3.2vmax;
			color:rgba(black,.7);
			margin:0% 0 0 0;
			top:30%;
			font-weight:900;
		}
	}
	.newsList-wrap{
		width:100%;
		height:100%;
		.news-item{
			text-align:center;
			width:100%;
			height:22%;
			box-sizing:border-box;
			padding:0 15%;
			box-shadow:0 .04vmax 0 0 rgba(black,.4);
			p{	
				&.date{
					top:17%;
					font-size:1.1vmax;
					color:rgba(30,40,30,.9)
				}
			}
			h1.title{
				top 22%
				font-size 2.6vmax
				font-weight bold
				padding:0 35%;
				a{
					width:auto;
					transition: all .2s ease;
					color:rgba(18,65,157,.8);
					&:hover{
						color:darken(@color,1);
						text-shadow 0 0 .1vmax darken(@color,5);
					}
				}
			}
			.main-text{
				top:28%;
				font-size:1vmax;
				font-family:'Open Sans',inherit;
				font-weight:1;
			}
		}
	}
}

/*
========================================================
======				comment: Page AdminGroup	========
========================================================
*/
#adminGroup-wrap{
	.adminMem-wrap{
		width:70%;
		margin:6% auto;
		height:100%;
		.adminMem{
			width:100%;
			height:15%;
			margin-bottom:2%;
			.photo{
				width:21%;
				height:100%;
				float:left;
				border-radius:10vmax;
				background-size:cover !important;
			}
			&:nth-child(1) .photo{
				background:url(img/adminGroup/director.jpg);
			}
			for i in 2 .. 5{
				&:nth-child( {i} ) .photo{
					background:url('img/adminGroup/deputy-'i+-1'.jpg');
				}
			}
			.discription{
				float:left;
				width:70%;
				height:100%;
				margin:3% 0 0 6%;
				.name{
					font-size:1.7vmax;
				}
				p{
					font-size:1.1vmax;
				}
			}
		}
	}
}
/*
========================================================
======				comment: Page History		========
========================================================
*/
#cont3d > li > #history-main{
	background url(img/history/bg.png) no-repeat center bottom
	background-color:rgba(225,225,225,.45)
	height 190%
	.historyStep-wrap{
		background rgba(white,.5)
		width 80%
		height 95%
		margin 3% auto
		font-weight 500
		img{
			float left
			margin-right 5%
		}
		.general{
			width 85%
			margin 0 7%
			text-align:center;
			.title{
				font-size:2.7vmax;
				margin-bottom:3%;
			}
			.descrip{
				font-size:1.4vmax;
				text-align left
				line-height 140%
			}
		}
		.yearStep{
			width:100%;
			margin:2% 0;
			background:rgba(0,0,0,.01);
			padding:2%;
			line-height:150%;
			box-sizing:border-box;
			cursor:pointer;
			transition: all .5s ease;
			font-size:1.5vmax;
			&:hover{
				background:rgba(225,225,225,.45);
			};
			img{
				width:30%;
				border-bottom: 3vmax solid transparent
			}
			#special{
				margin-bottom:5%;
			}
			.year{
				font-size:2vmax;
				font-weight bold
				color rgba(92,139,231,1)
				margin:1% 0;
				text-align center
			}
		}
	}
}
/*
========================================================
======				comment: Page DSD   		========
========================================================
*/
#dsd-wrap{
	img{
		width 100%
	}
	.dsdDescrip-wrap{
		width:80%;
		height:100%;
		margin:3% auto;
	}
	.title{
		font-size:2vmax;
		text-align:center;
	}
	.descrip{
		font-size:1.5vmax;
		margin:2% 0;
		img{
			float:left;
			margin-right:2%;
		}
		p{
			margin-bottom:2%;
		}
		a{
			text-decoration:underline;
			text-align: center;
		}
	}
}