@media screen and (max-width: 980px) {
   .home #slider-info{
      padding:0 10%;
   }
   #main{
      width:98%;
   }
   #abus-expres{
      padding:2%;
   }
   #teach .text-area{
      padding:2%;
   }
}
