@media screen and (max-width: 980px) {
   .home #slider-info{
      padding:0 10%;
   }
   #main{
      width:98%;
   }
   #abus-expres{
      padding:2%;
   }
   #teach .text-area{
      padding:2%;
   }
}
/*@media screen and (min-width: 100px) and (max-width:400px){
   .home{
      height:20%;
   }
}
@media screen and (min-width: 400px) and (max-width:600px){
   .home{
      height:17%;
   }
}
@media screen and (min-width:600px) and (max-width: 700px){
   .home{
      height:20%;
   }
}
@media screen and (min-width:700px) and (max-width: 800px){
   .home{
      height:24%;
   }
}*/